@import './abstract/variables';
@import './abstract/spacing';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid';


$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 2560px;

$nav-height: 80px;
$header-height: 830px;

$primary: #25e057;

$blue-200: #0496ff;
$blue-400: #051945;
$blue-900: #101920;

$gray-200: #7b8994;
$gray-400: #47525d;

$dark: #101920;

@media(max-width: $md){
    $nav-height: 204px;
}

body, html{
    font-family: 'Roboto', 'sans-serif';
    font-size: 18px;
    color: #fff;
}

p.lead{
    font-size: 25px;
    @media(max-width: $md){
        font-size: 18px;
    }
}

.vr{
    opacity: 1;
    width: 2px;
}

section.light{
    color: $dark;
}

section.dark{
    background-color: $dark;
}


.card{
    background: transparent
}

div.cta{
    a{
        width: 350px;
        height: 80px;
        font-size: 20px;
        line-height: 3.2;

        @media(max-width: $md){
            width: auto;
        }
    }
}

.cards-wrapper{
    display: flex;
    justify-content: center;

    @media(max-width: $md)
    {
        flex-direction: column;
        align-items: center;
    }
}

/* BEGIN navigation */
nav{
    min-height: $nav-height;
    z-index: 999;
    
    .navbar-nav{
 
        &.active{
            position: absolute;
            top: 100%;
            left: 0;
            margin-right: 40%;
            width: 100%;
            min-height: 40vh;
            background-color: $dark;
            transition: ease-in-out 300ms;
            @media(max-width: $lg){
                display: flex;
            }
        }   
        @media(max-width: $lg){
            display: none;
        }

        li {
            @media(max-width: $lg){
                margin: 6px 0;
            }

            &:first-child{
                margin-right: 6px;
                @media(max-width: $md){
                    margin-right: 0;
                    margin-top: 0;
                }
            }
            &:last-child{
                margin-left: 6px;
                @media(max-width: $md){
                    margin-left: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
    .btn{
        display: inline-block;
        min-width: 180px;
        height: 50px;
        font-size: 16px;
        line-height: 2.3;
        margin: 0;

    }

    .mobile{
        margin-right: 10%;
        @media(min-width: $xxl){
            margin-right: 40%;
        }
        @media(max-width: $md){
            margin-right: 0;
        }
        
    }
}

/** BEGIN hamburger menu **/
.navbar-menu{
    display: inline-block;
    position: relative;
    width: 140px;
    margin: auto 0;

    .menu-bar{
        width: 35px;
        margin: auto;
        cursor: pointer;
    }
    span {
        display: block;
        margin-bottom: 6px;
        background-color: #fff;
        height: 6px;
        &:last-child{
            margin-bottom: 0;
        }
    }

    @media(max-width: $md){
        width: auto;
    }
    /** END hamburger menu **/

}
/* END navigation */


/* BEGIN hero-area */


header{
    background: url('../img/svg/hero-area.svg') no-repeat center center;
    background-size: cover;
    height: $header-height;
    position: relative;
    // height: calc($header-height - $nav-height);

    .intro{
        position: relative;
        padding-top: $nav-height;
        height: 100%;
        z-index: 0;

        .overlay{
            position: absolute;
            width: 100%; height: calc(100% - $nav-height);
            left: 0;
            bottom: 0;
            z-index: -1;

            &--blue{
                background-color: $blue-400;
                opacity: 64%;
                mix-blend-mode: multiply;
            }

            &--dark-blue{
                background-color: $blue-900;
                opacity: 35%;
            }

        }
    }
}

/* END hero-area */

section{
    h2{
        max-width: 440px;
    }
    p{
        max-width: 545px; 
    }
    .vr{
        margin-right: 40px;
    }
}
/* BEGIN section resources */


/* BEGIN cards */
.card{
    width: 340px;
    margin: 0 40px;
    border: 0;

    &:first-child{
        margin-left: 0;
    }

    &:last-child{
        margin-right: 0;
    }

    @media(max-width: $md){
        margin: 20px 0;
    }

    .frame-rect{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 190px;

        .img-wrapper{
            display: inline-block;
            cursor: pointer;
            z-index: 1;
        }

        &::before{
            content: url('../img/svg/rectangle.svg');
            position: absolute;
            top: 0;
            height: 100%;
            z-index: 1;
        }

        &::after{
            content: url('../img/svg/rectangle-outline.svg');
            position: absolute;
            top: 0;
            transform: translate(9px, 9px);
            height: 100%;
            z-index: 0;
        }
    }
}
/* END cards */


/* BEGIN section resources */
section.resources{
    padding-top: 90px;
    padding-bottom: 80px;
}
/* END section resources */

/* BEGIN carousel */
.carousel-dark{
        .carousel-indicators{
        top: 100%;
        bottom: unset;
        li[data-bs-target].active{
            width: 20px; height: 20px;
            margin-right: 10px;
            margin-left: 10px;
            background-color: #47525d;
            border-radius: 50%;
        }
        li[data-bs-target]{
            width: 20px; height: 20px;
            background-color: #dedede;
            border-radius: 50%;
        }

    }
    // .carousel-control-prev{
    //     transform: translateX(-100%);
    //     @media(max-width: $xl){
    //         transform: translateX(0);
    //     }
    // }
    // .carousel-control-next{
    //     transform: translateX(100%);
    //     @media(max-width: $xl){
    //         transform: translateX(0);
    //     }
    // }

    .carousel-item.active{
        display: flex;
        justify-content: center;
        @media(max-width: $xl){
            flex-direction: column;
            align-items: center;
        }
    }
    
    .carousel-item{
        display: none;
    }
}
/* END carousel */



section.about{

    
    .holder{
        padding-top: 0.5em;
        padding-left: 80px;
        position: relative;
    
        h4{
            &::before{
                content: url('../img/svg/checkmark.svg');
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

// section.call-to-action{
//     // padding: 120px 0;
// }

section.register-now{

    .card{
        @media(max-width: $lg){
            width: auto;
        }
        .frame{
            margin: auto;
            text-align: center;
            height: 220px;

        }
        img{
            cursor: pointer;
        }
    }
}


/* Partner Programs */
.partner-programs{
    .cards-wrapper{
        width: 100%;
        .card{
            width: 380px;
            margin: 20px 0;
            background-color: $gray-200;

            .frame{
                margin-bottom: 20px;
                img{
                    cursor: pointer;
                }
            }

            .card-content{
                height: 100%;
                display: flex;
                flex-direction: column;
            }

            .card-body{
                p{
                    font-size: 17px;
                    margin: auto;
                }
            }

            .card-footer{
                background: 0;
                border: 0;
                padding-bottom: 50px;

                .btn{
                    color: #fff;
                    width: 235px;
                    height: 60px;
                    font-size: 20px;
                    line-height: 2.2;
                }
            }

            &:not(:first-child, :last-child){
                background-color: $gray-400;
                margin: 0;
                z-index: 1;

                .card-body{
                    p{
                        padding: 0 30px;
                    }
                }

                .card-footer{
                    padding-bottom: 60px;
                }

                &::after{
                    box-shadow: 1pt 1pt 22px 20px rgba(0, 0, 0, 0.22);
                    mix-blend-mode: multiply;
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    z-index: -1;
                }
            }

            &:first-child{
                padding-right: 20px;
                left: 20px;
                @media(max-width: $lg){
                    left: 0;
                    padding-right: 0;
                }
            }
            &:last-child{
                padding-left: 20px;
                right: 20px;
                @media(max-width: $lg){
                    right: 0;
                    padding-left: 0;
                }
            }

            @media(max-width: $lg){
                width: 100%;
                margin: 0;
            }
        }
    }
}
/* END Partner Programs */


/*BEGIN footer*/
footer.site-footer{
    background-color: $dark;
    color: #fff;

    section{
        font-size: 10px;
        p{
            max-width: 100%;
        }
     }

    .btn{
        width: 210px;
        height: 50px;
        font-size: 12px;
        line-height: 3;
    }

    .vr{
        margin-right: 60px;
    }

    nav.site-map{

        width: 90%;

        h5{
            color: $blue-200;
        }
        ul{
            display: flex;
            flex-direction: column;
            flex: 1;
            list-style-type: none;
            padding: 0;
            li{

                font-size: 14px;
            }
        }

        .social{
            display: flex;
            flex-direction: column;
            .icons{
                display: flex;
                a{
                    font-size: 25px;
                    color: $primary;
                    &:not(:last-child){
                        padding-right: 10px;
                    }
                    transition: ease-in-out 300ms;
                    &:hover{
                        color: $gray-400;
                    }
                }
            }
        }
    }

}
/*END footer*/